@import url(assets/quickCSS/fonts.css);
body {
    font-family: consolas;
}

.data {
    font-size: 12px;
    margin: -20px 0 0;

}
.s1 {
    font-weight: bold;
    font-family: PDARK ;
    color: rgba(0, 0, 0, 0.301);
}
