@import url(/assets/quickCSS/fonts.css);
@import url(/assets/quickCSS/scrollbar.css);

body {
    margin: 0;
}

header {
    margin: 0;
    background-color: #0F1B2F;
    /* box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); */
    border-radius: 0px 0px 20px 20px;
    & img {
        width: 30vw;
    }
    & h1 {
        color: rgb(255, 255, 255);
        font-size: 4vw;
        font-family: panton;
        display: flex;
        align-items: center;
        margin: auto;
    }
}

main {
    display: flex;
    gap: 1%;
    row-gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px;

    & .sala {
        background-color: gainsboro;
        border-radius: 15px;
        width: 48%;
        height: 200px;

    }
    & h2 {
        color: rgb(255, 249, 249);
        font-family: panton;
        text-align: center;
        background-color: #ED1C24;
        border-radius: 15px 15px 0px 0px;
        margin: auto;
    }
    & .trash {
        & img {
            height: 60px;
        }
    }

    & .film {
        width: 100%;
        font-size: 130%;
        font-family: Kanit-Light;
        padding: 5px;
        justify-content: center;
        display: flex;
        gap: 5%;
        text-align: center;
        align-items: center;
        & .time {
            font-family: mplus;
            font-size: 80%;
            border: px solid ;
            border-radius: 10px;
            padding: 2px;
        }
    }
}
