@font-face {
  font-family: moli;
  src: url(Mooli-Regular.ttf);
}

/*
S01 - header
*/
header {
  background-image: url(kosmos.jpg);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  align-items: center;
  padding: 5px;
  background-position: 0%;
  background-size: 100% 150%;
}



.tyt {
  font-size: 45px;
  margin-top: -35px;
  margin-bottom: -35px;
  
  
  
  
}
.tyt h1 {
  padding: 15px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 700px;
  background-color: #1f1d1f;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 0px -26px 37px -31px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px -26px 37px -31px rgba(0, 0, 0, 1);
  box-shadow: 0px -26px 37px -31px rgba(0, 0, 0, 1);
  
  
 
}
.tresc {
  width: 95%;
  margin-top: 30px;
  
  
  text-align: justify;
  margin: auto;
  
}
.main {
  background-color: #1f1d1f;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}
.reszta{
  margin-top: 20px;
  background-color: #1f1d1f;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  
}

body {
  
  margin-top: 0px;
  font-family: moli;
  margin-right: 20px;
  margin-left: 20px;
  background-attachment: fixed;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    72deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(23, 1, 33, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  color: rgb(219, 217, 217);
 justify-content: center;
  
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

li {
  list-style: none;
  padding: 5px;
}

a {
  text-decoration: none;
}

header {
  & li {
    font-size: 26px;
    font-weight: 700;
    padding: 0px;
  }

  & a:link {
    color: rgb(219, 217, 217);
    transition: 0.2s;
  }
  & a:visited {
    color: rgb(219, 217, 217);
  }

  & a:hover {
    color: white;
    text-shadow: 1px 0px 1px rgb(248, 248, 248);
    transition: 0.2s;
  }

  & a:active {
    color: rgb(219, 217, 217);
  }
}

menu {
  display: flex;
  gap: 20px;
}

header img {
  padding: 10px;
  width: 100px;
  align-self: left;
}

a:link {
  color: rgb(228, 226, 226);
}

a:visited {
  color: grey;
}

a:hover {
  color: rgb(92, 195, 255);
}

a:active {
  color: black;
}

footer {
  align-items: center;
  text-align: center;
}


table {
  margin-left: auto;  
  margin-right: auto;  
  text-align: center;
}
table img {
  object-fit: cover;
  width: 150px;
  height: 150px;
  border-radius: 15px;

}

@media (max-width: 1050px) {
  table tr {
    
    display: flex;
    
    flex-wrap: wrap;
  }
  table td {
    gap: 10px;
  }
}

